<div class="content-wrapper-flat">
    <h2>Controle de CPFS</h2>
    <div>
        <div class="table-toolcontainer">
            <button class="btn-primary" (click)="createModal(modal)">Adicionar</button>
            <label>Quantidade de CPFS: {{cpfCount}}</label>
        </div>
        <table>
            <tr>
                <th>Ação</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Documento</th>
                <th>Status</th>
                <th>Última alteração</th>
            </tr>
            <tr *ngFor="let item of cpfList">
                <td class="">
                    <button class="btn-primary" (click)="editModal(item, modal)">Editar</button>
                    <button class="btn-secondary ms-2" (click)="openRemoveModal(item,remove)">Remover</button>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.ownerName}}</td>
                <td>{{item.document}}</td>
                <td *ngIf="item.isBlocked">
                    <span class="badge w-100 h-100" style="background-color: red;">Bloqueado</span>
                </td>
                <td *ngIf="!item.isBlocked">
                    <span class="badge w-100 h-100" style="background-color: green;">Livre</span>
                </td>
                <td>{{item.modifiedOn | date:'short'}}</td>
            </tr>
        </table>
    </div>
</div>
<ng-template #modal>
    <div class="modal-header">
        <label *ngIf="cpf.id > 0">
            Editar CPF
        </label>
        <label *ngIf="cpf.id <= 0">
            Cadastrar CPF
        </label>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="cpf.ownerName" required>
            </div>
            <div class="form-group pt-3">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" name="cpf" [disabled]="cpf.id > 0" [(ngModel)]="cpf.document"
                    required>
            </div>
            <div class="form-group pt-3 pb-3">
                <label class="form-check-label pe-2" for="isBlocked">Bloqueado</label>
                <input class="form-check-input" type="checkbox" name="isBlocked" [(ngModel)]="cpf.isBlocked" required>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</ng-template>
<ng-template #remove>
    <div class="modal-header">
        Confirmação
    </div>
    <div class="modal-body">
        <label>Você tem certeza que quer remover o CPF?</label>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="removeCpf()">Remover</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</ng-template>