<div class="content-wrapper-flat">
    <h2>Controle de CPFS</h2>
    <div>
        <div class="table-toolcontainer">
            <button class="btn-primary" (click)="createModal(modal)">Adicionar</button>
            <label class="ps-3 w-25">Qtd. de CPFS: <b>{{CpfCount}}</b></label>
            <div class="d-flex ps-5 w-50 alg-cnt jus-cnt h-100 w-100">
                <label class="pt-1" for="filter">Filtrar: </label>
                <select class="ms-3 form-control w-25 h-100" name="filter" [(ngModel)]="selectedFilter">
                    <option Value='0'>Sem Filtro</option>
                    <option Value='1'>CPF</option>
                    <option Value='2'>Status</option>
                </select>
                <ng-container *ngIf="selectedFilter > 0">
                    <label class="pt-1 ms-3 me-3">Buscar por: </label>
                    <ng-container *ngIf="selectedFilter == 1">
                        <input type="text" class="form-control w-25" name="filterInput" [(ngModel)]="documentToFind"
                            required>
                    </ng-container>
                    <ng-container *ngIf="selectedFilter == 2">
                        <select class="form-control w-25 h-100" name="filter" [(ngModel)]="selectedStatus">
                            <option Value='false'>Livre</option>
                            <option Value='true'>Bloqueado</option>
                        </select>
                       
                    </ng-container>
                    <button class="btn btn-primary ms-3" (click)="findByFilter()">Pesquisar</button>
                    <button class="btn btn-secondary ms-3" (click)="clearFilter()">Limpar Filtro</button>
                </ng-container>
            </div>
        </div>
        <table>
            <tr>
                <th>Ação</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Documento</th>
                <th>Status</th>
                <th>Última alteração</th>
            </tr>
            <tr *ngFor="let item of CpfList">
                <td class="">
                    <button class="btn-primary" (click)="editModal(item, modal)">Editar</button>
                    <button class="btn-secondary ms-2" (click)="openRemoveModal(item,remove)">Remover</button>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.ownerName}}</td>
                <td>{{item.document}}</td>
                <td *ngIf="item.isBlocked">
                    <span class="badge w-100 h-100" style="background-color: red;">Bloqueado</span>
                </td>
                <td *ngIf="!item.isBlocked">
                    <span class="badge w-100 h-100" style="background-color: green;">Livre</span>
                </td>
                <td>{{item.modifiedOn | date:'short'}}</td>
            </tr>
        </table>
    </div>
</div>
<ng-template #modal>
    <div class="modal-header">
        <label *ngIf="Cpf.id > 0">
            Editar CPF
        </label>
        <label *ngIf="Cpf.id <= 0">
            Cadastrar CPF
        </label>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control mt-1" name="name" [(ngModel)]="Cpf.ownerName" required>
            </div>
            <div class="form-group pt-3">
                <label for="Cpf">CPF</label>
                <input type="text" class="form-control mt-1" name="Cpf" [disabled]="Cpf.id > 0"
                    [(ngModel)]="Cpf.document" required>
            </div>
            <div class="form-group pt-3 pb-3">
                <label class="form-check-label pe-2" for="isBlocked">Bloqueado</label>
                <input class="form-check-input" type="checkbox" name="isBlocked" [(ngModel)]="Cpf.isBlocked" required>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</ng-template>
<ng-template #remove>
    <div class="modal-header">
        Confirmação
    </div>
    <div class="modal-body">
        <label class="pb-1 mb-2">Você tem certeza que deseja remover o CPF?</label>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="removeCpf()">Remover</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</ng-template>