<div class="content-wrapper">
    <h1>Atualizar minha conta</h1>
    <form>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="name"  [(ngModel)]="User.name" required>
        </div>
        <div class="form-group pt-3">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" disabled="true" name="email"  [(ngModel)]="User.email" required>
        </div>
        <div class="form-group pt-3">
            <label for="oldPassword">Senha atual</label>
            <input type="password" class="form-control" name="oldPassword"  [(ngModel)]="User.oldPassword" required>
        </div>
        <div class="form-group pt-3">
            <label for="password">Nova Senha</label>
            <input type="password" class="form-control" name="password"  [(ngModel)]="User.password" required>
        </div>
        <div class="form-group pt-3">
            <label for="confirmPassword">Confirmar Nova Senha</label>
            <input type="password" class="form-control" name="confirmPassword"  [(ngModel)]="User.confirmPassword" required>
        </div>
    </form>
    <div class="buttons">
        <button class="btn-primary" (click)="save()">Atualizar</button>
    </div>
</div>