@import '../../Shared/Variables.scss';

p{
    color: $primary-color;
    font-weight: bolder;
    font-size: 40px;
    padding: 10px;
}
h1{
    color: $secondary-color;
}
span{
    color: $primary-color;
    font-weight: bolder;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}


.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
        min-width: 80px;
        min-height: 40px;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}