@import '../../Shared/Variables.scss';

p{
    color: $primary-color;
    font-weight: bolder;
    font-size: 60px;
    padding: 10px;
}
h1{
    color: $secondary-color;
}
span{
    color: $primary-color;
    font-weight: bolder;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.fd-column{
    flex-direction: column;
}

.cw-min-height{
    min-height: 450px;
}

.alg-cnt{
    align-self: center;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
        min-width: 80px;
        min-height: 40px;
    }
}