@import '../../Shared/Variables.scss';

div{
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    height: 100%;
    width: 200px;
    min-width: 100px;
    max-width: 200px;
    min-height: calc(100vh - 70px);
    transition: width 0.1s ease-in;
    padding: 10px;

    &:hover{
        width: 200px;
    }
}

.btn-primary{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    justify-content: flex-start;
    background-color: $primary-color;
    width: 170px;
    height: 40px;
    margin-top: 15px;
    font-weight: 300;
    &:hover{
        border-color: $primary-color !important;
    }
}

.btn-primary-active{
    color: #FFF;
    font-weight: 600;

}