@import '../Shared/Variables.scss';

.container{
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%;
}

.data-container{
    background-color: rgb(250, 218, 176);
    padding: 10px;
    height: calc(100vh - 70px);
    width: 100%

}

